<!DOCTYPE html>
<html>
  <head>
    <title>Insert Sighting</title>
  </head>
  <body>
    <h2>Sighting Information</h2>
    <form action="/details" method="POST">
      <table>
        <tr>
          <td>Name</td>
          <td><input type="text" name="name" /></td>
        </tr>
        <tr>
          <td>Person</td>
          <td><input type="text" name="person" /></td>
        </tr>
        <tr>
          <td>Location</td>
          <td><input type="text" name="location" /></td>
        </tr>
        <tr>
          <td>Sighted (yyyy-mm-dd)</td>
          <td><input type="text" name="sighted" /></td>
        </tr>
        <tr>
          <td><input type="submit" value="Insert" /></td>
        </tr>
      </table>
    </form>
    <a href="/">Return to home page</a>
  </body>
</html>
